.nav {
  --background-color: black;
  --color: black;
  border-radius: 10px;
  text-align: center;
}
ion-title {
  background-color: black;
  border-radius: 10px;
}
h1{
  font-weight: bold;
  color: white;
}
ion-button{
  border-radius: 10px;
  background-color: black;
  
}