.nav {
  --background-color: black;
  --color: black;
  border-radius: 10px;
  text-align: center;
}
ion-title {
  background-color: black;
  border-radius: 10px;
}
h1{
  font-weight: bold;
  color: white;
}
.imagen{
    background-origin: padding-box;
    font-size: 18px;
}
.img{
   width: 100%;
 left: 0;
 right: 0;
   border-radius: 10px;
}