<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/logobarber.png"></ion-img>
      <ion-card-header>   
        <ion-card-title>Seja Bem-Vindo!!</ion-card-title>
      </ion-card-header>
    </ion-card>
    <ion-list lines="none">
      <ion-list-header>
        <ion-label>Um pouco sobre a barbearia!!!</ion-label>
      </ion-list-header>
       </ion-list>
       <div class="imge">
         <img class="img" src="/assets/apr.jpg">
       </div>
       <ion-item>
         <p>Id lorem viverra nostra lacus consectetur sed blandit molestie,
            a risus ut scelerisque in feugiat pulvinar dui vestibulum, 
            nostra habitasse per velit quisque tempus fermentum. </p>
       </ion-item>
</ion-content>
