.welcome-card {
  top:0;
  ion-img {
  top:5%;
  max-height: 35vh;
  overflow: hidden;
}
}

.imge{
  background-position: center;
}
.img{
  width: 50%;
  position: relative;
  border-radius: 50%;
  left: 90px;
  
  
}