.nav {
    --background-color: black;
    --color: black;
    border-radius: 10px;
    text-align: center;
}
ion-title {
    background-color: black;
    border-radius: 10px;
}
div {
    --background-color: gray;
}
h1{
    font-weight: bold;
    color: white;
    
}
ion-item {
    font-size: 13px;
  --background: rgba(255, 255, 255, 0.2);
  --border-radius: 10px;
  ion-input {
      --color: black;
      --background-color: black;
} 
ion-button{
    border-radius: 10px;
    background-color: black;
    
}
}
